header {
    background-color: #851944;
    border-bottom: #000 solid 10px;
   
}
header h1 {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
    color: #ffff;
    padding: 30px;
}
main {
    width: 60%;
    margin: 0 auto;
    padding: 30px 0;
    
}
main p {
    margin-bottom: 20px;
}

.portfolio {
    display: inline-block;
    width: 100%;
}
.portfolio li{
    width: 45%;
    border: solid 8px #000;
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    padding: 10px;
    text-align: justify;
}

.portfolio img {
    width: 100%;
}

.principal {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 230px;
    height: 230px;
    border-left: #000 solid 10px;
    border-bottom: #000 solid 10px;
}
aside {
    position: relative;
    float: right;
    background-color: #3C1D3D;
    width: 15%;
    left: 0px;
    top: 240px;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    border-left: #000 solid 10px;
    border-bottom: #000 solid 10px;
    box-sizing: border-box;
}
aside h2 {
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: bolder;
}
.redes_sociais li {
    display: inline-block;
 
}
.redes_sociais a {
    display: inline-block;
    margin: 10px 0 20px 0;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
}
.github {
    background-image: url(github.png);
}
.twitter {
    background-image: url(twitter.png);
}
.linkedin {
    background-image: url(linkedin.png);
}
footer {
    clear: both;
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 20px;
}
.container {
    float: left;
    width: 85%;
    padding-bottom: 40px;;
}